# Build 
build/*
.vscode
models/*
!models/cat.jpg
!models/cat.npz
!models/dog.npz
!models/resnet50_int8.tflite
!models/code.py

#tpu-mlir 

tpu-mlir/build/
tpu-mlir/build_ap/
tpu-mlir/build_en/
tpu-mlir/build_zh/
tpu-mlir/install/
tpu-mlir/tmp/
tpu-mlir/work_dir/
tpu-mlir/._*
tpu-mlir/.DS_Store
tpu-mlir/__pycache__
tpu-mlir/python/transform/tflite
tpu-mlir/regression_out/
tpu-mlir/tags
tpu-mlir/.vscode/
tpu-mlir/.VSCodeCounter/
tpu-mlir/onnx_test_*/
tpu-mlir/torch_test_*/
tpu-mlir/tpulang_test_*/
tpu-mlir/.cache
tpu-mlir/*.xlsx
tpu-mlir/bmodel_fbs.py
tpu-mlir/.ipynb_checkpoints/
tpu-mlir/cross_toolchains/
tpu-mlir/dist/
!/python/tools/soc_infer/debugger/bmodel_fbs.py


# oneDNN

oneDNN/build
oneDNN/external
oneDNN/.vs
oneDNN/.*.sw?
oneDNN/tags
oneDNN/*~
oneDNN/\#*\#
oneDNN/.projectile
oneDNN/CMakeSettings.json
oneDNN/compile_flags.txt
oneDNN/compile_commands.json
oneDNN/.git-blame-ignore-revs
oneDNN/**/.DS_Store
oneDNN/__pycache__

# models
# oneDNN/
# tpu-mlir/
y
y.pub



